:root {
  --primaryColor: rgba(181, 181, 181, 0.8);
  --secondaryColor: rgb(47, 45, 45);
  --textColor: rgb(69, 3, 3);
}

.App {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

header {
height: 20vh;
  background-color: var(--textColor);
  color: var(--textColor);

}
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#avatar {
  /* margin: 0 auto; */
  width: 80%;
  height: 40vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.304),
      rgba(0, 0, 255, 0.304),
      rgba(255, 0, 0, 0.304)
    ),
    url(./components/images/me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-bottom: 7px solid rgba(100, 8, 8, 0.923);
}
#name , #jobTitle{
  line-height: 0;
margin-bottom:0px;
}
#name{
 font-size: 1.2rem;

}

#jobTitle{
  margin-top: 20px;
  font-size: .8rem;
  font-weight: bold;
}


#jobDescription{
  font-weight:400;
  font-size: .7rem;
text-align: center;
}


.userInformation {
 position: absolute;
 top: 65%;
}

#icon{
  background-color: var(--primaryColor);
  color: var(--textColor);
  padding: 6px;
  border-radius: 50%;
border: 1px solid var(--textColor);
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--textColor);
 position: absolute;
bottom: 0;
color: var(--primaryColor);

}

@media screen and (min-width:500px) {
#avatar{
  height: 40vh;
  width: 40%;
}
}


@media screen and (min-width:800px) {
  #avatar{
    height: 50vh;
    width: 30%;
  }
  .userInformation{
top:72%;


  }

  #name{
    font-size: 2rem;
   
   }
   
   #jobTitle{
     margin-top: 20px;
     font-size: 1rem;
     line-height: .4rem;
     
   }
   
   
   #jobDescription{
     font-weight:400;
     font-size: 1rem;
   text-align: center;
   }
  }